Django>=3.0,<4.0
psycopg2>=2.8
paho-mqtt>=1.6.1
toml>=0.10.2
dump-env>=1.4.0
celery>=5.2.7
redis>=4.4.2
djangorestframework>=3.14.0
channels>=4.0.0
daphne>=4.0.0
channels_redis>=4.0.0
ndg-httpsclient>=0.5.1
requests>=2.28.2
django-filter>=22.1
xhtml2pdf>=0.2.9
