<!DOCTYPE html>
<html>

<body>
  <center>
    <form action="/app1/modify_robot/" method="post">
      {% csrf_token %}
      <table border='1'>
        <td>
          <p>Serial number:</p>
        </td>
        <td>
          <p>Type:</p>
        </td>
        <tr>
          <td><input id="serial_number" type="text" name="serial_number" maxlength="5" value="{{ data.serial_number }}"
              required></td>
          <td><input id="type" type="text" name="type" maxlength="10" value="{{ data.type }}" required></td>
        </tr>
      </table>
      <input type="submit" value="Modify type">
    </form>
  </center>
</body>

</html>