<!DOCTYPE html>
<html>

<body>
  <center>
    <p>Filter location records between two given dates for specified robot:</p>
    <hr />
    <form method="POST">
      {% csrf_token %}

      From :<input type="date" name="fromdate" />
      To :<input type="date" name="todate" />
      Serial number :<input type="text" name="serial_number" />
      <input type="submit" value="Search" />
      <hr />
      <table border='1'>
        <td>
          <p>Timestamp:</p>
        </td>
        <td>
          <p>Longitude:</p>
        </td>
        <td>
          <p>Latitude:</p>
        </td>
        {% for x in robots %}
        <tr>
          <td>{{ x.timestamp }}</td>
          <td>{{ x.location_longitude }}</td>
          <td>{{ x.location_latitude }}</td>
        </tr>
        {% endfor %}
      </table>
    </form>
  </center>
</body>

</html>