<!DOCTYPE html>
<html>
<body>
  <center>
    <p>Filter telemetry records between two given dates for specified robot:</p>
    <hr/>
    <form method="POST">
      {% csrf_token %}

      From :<input type="date" name="fromdate"/>
      To :<input type="date" name="todate"/>
      Serial number :<input type="text" name="serial_number"/>
      <input type="submit" value="Search"/>
      <hr/>
      <table border='1'>
        <td><p>Serial number:</p></td>
        <td><p>Timestamp:</p></td>
        <td><p>Humidity:</p></td>
        <td><p>Temperature:</p></td>
        <td><p>Pressure:</p></td>
        {% for x in robots %}
          <tr>
            <td>{{ x.serial_number}}</td>
            <td>{{ x.telemetry_timestamp }}</td>
            <td>{{ x.telemetry_humidity }}</td>
            <td>{{ x.telemetry_temperature }}</td>
            <td>{{ x.telemetry_pressure }}</td>
          </tr>
        {% endfor %}
      </table>
    </form>
  </center>
</body>
</html>  